.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6%;
}
.WeatherContainer {
    position: relative;
    color: white;
    background-color: lightgray;
    border: 1 solid gray;
    width: 30%;
}

.TimeContainer {
    border: 1 solid gray;
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

#ContainerTitle{
    text-align: center;
    color: black;
}

.ParamContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: fit-content;
}

.Param {
    display: flex;
    flex-direction: row;
    color: black;
}

#buttonDiv {
    width: fit-content;
    margin: 0 auto;
}

.MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}