.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6%;
}
.WeatherContainer {
    position: relative;
    color: white;
    background-color: lightgray;
    border: 1 solid gray;
    width: 30%;
}

.TimeContainer {
    border: 1 solid gray;
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

#ContainerTitle{
    text-align: center;
    color: black;
}

.ParamContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1%;
    width: fit-content;
}

.Param {
    display: flex;
    flex-direction: row;
    color: black;
}

input {
    text-align: center;
    margin-left: 10px;
}

label {
    margin-left: 5px;
}


#buttonDiv {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2%;
}

.MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
}