<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Document HTML</title>
  <link rel="stylesheet" type="text/css" href="../static/static.css">
</head>
<body>
    <div class="Container">
        <div class="WeatherContainer">
            <div id="ContainerTitle">
                <p>Configure the bot</p>
            </div>
            <div class="MainContainer">
            <div class="ParamContainer">
                <div class="Param">
                    <input type="checkbox" id="repeat" name="repeat">
                    <label for="repeat">Repeat Mode</label>
                </div>
                <div class="Param">
                    <input type="checkbox" id="slow" name="slow">
                    <label for="slow">Slow Mode</label>
                    <input type="number" min="1" id ="slowduration" placeholder="Slow Duration">
                </div>
                <div class="Param">
                    <input type="checkbox" id="unique" name="unique">
                    <label for="unique">Unique Mode</label>
                </div>
                <div class="Param">
                    <div class="Tinput">
                        <label>Add a bann word</label>
                        <input type="text" id="bword" name="bword" placeholder="Word to be banned">
                    </div>
                </div>

                <div class="Param">
                    <div>
                        <label>Change bot color</label>
                        <select id="color">
                            <option value="Blue">Blue</option>
                            <option value="BlueViolet">BlueViolet</option>
                            <option value="CadetBlue">CadetBlue</option>
                            <option value="Chocolate">Chocolate</option>
                            <option value="Coral">Coral</option>
                            <option value="DodgerBlue">DodgerBlue</option>
                            <option value="Firebrick">Firebrick</option>
                            <option value="GoldenRod">GoldenRod</option>
                            <option value="Green">Green</option>
                            <option value="HotPink">HotPink</option>
                            <option value="OrangeRed"> OrangeRed</option>
                            <option value="Red">Red</option>
                            <option value="SeaGreen">SeaGreen</option>
                            <option value="SpringGreen">SpringGreen</option>
                            <option value="YellowGreen">YellowGreen</option>

                          </select>
                    </div>
                </div>
                <div class="Param">
                    <div>
                        <input type="checkbox" id ="samecolor">
                        <label for="samecolor">Use same color for bot's messages ?</label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
            <div id="buttonDiv">
                <button id="update">Update Bot Configuration</button>
            </div>
        </div>
        <div class="TimeContainer">
            <iframe src="https://www.twitch.tv/embed/nerilwyn/chat" frameborder="0" scrolling="no" height="500" width="350"></iframe>
        </div>
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</html>
