<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Document HTML</title>
  <link rel="stylesheet" type="text/css" href="../static/static.css">
</head>
<body>
    <div class="Container">
        <div class="WeatherContainer">
            <div id="ContainerTitle">
                <p>Configure the bot</p>
            </div>
            <div class="MainContainer">
            <div class="ParamContainer">
                <div class="Param">
                    <input type="checkbox" id="repeat" name="repeat"
                    checked>
                    <label for="repeat">Repeat Mode</label>
                </div>
                <div class="Param">
                    <div>
                    <input type="checkbox" id="bannword" name="bannword">
                    <label for="bannword">Add a bann word</label>
                </div>
                    <div class="Tinput">
                        <input type="text" id="bword" name="bword" placeholder="Word to be banned">
                    </div>
                </div>
            </div>
        </div>
            <div id="buttonDiv">
                <button id="update">Update Bot Configuration</button>
            </div>
        </div>
        <div class="TimeContainer">
            <iframe src="https://www.twitch.tv/embed/nerilwyn/chat" frameborder="0" scrolling="no" height="500" width="350"></iframe>
        </div>
    </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
</html>
